<div class="col-md-12">
    <div class="col-md-3" style="height:150px; width:150px; margin:10px; margin-left:50px">
        <a href="@Url.Content("~/home/createdrug")" class="btn btn-primary" style="width:140px">
            <i class="fa fa-dashboard fa-3x"></i> <br /> <span>ADD NEW DRUG</span>
        </a>
    </div>
    <div class="col-md-3" style="height:150px; width:150px; margin:10px; margin-left:50px">
        <a href="@Url.Content("~/home/drug")" class="btn btn-primary" style="width:140px">
            <i class="fa fa-dashboard fa-3x"></i> <br /> <span>VIEW ALL DRUG</span>
        </a>
    </div>
    <div class="col-md-3" style="height:150px; width:150px; margin:10px; margin-left:50px">
        <a href="@Url.Content("~/home/drug")" class="btn btn-primary" style="width:140px">
            <i class="fa fa-dashboard fa-3x"></i> <br /> <span>EDIT A DRUG</span>
        </a>
    </div>
    <div class="col-md-3" style="height:150px; width:150px; margin:10px; margin-left:50px">
        <a href="@Url.Content("~/home/restockalert")" class="btn btn-primary">
            <i class="fa fa-dashboard fa-3x"></i> <br /> <span>CHECK FOR RESTOCK</span>
        </a>
    </div>
    <div class="col-md-3" style="height:150px; width:150px; margin:10px; margin-left:50px">
        <a href="@Url.Content("~/home/createpatient")" class="btn btn-primary">
            <i class="fa fa-dashboard fa-3x"></i> <br /> <span>ADD PATIENT RECORD</span>
        </a>
    </div>
    <div class="col-md-3" style="height:150px; width:150px; margin:10px; margin-left:50px">
        <a href="@Url.Content("~/home/patient")" class="btn btn-primary" style="width:140px">
            <i class="fa fa-dashboard fa-3x"></i> <br /> <span>VIEW ALL PATIENT</span>
        </a>
    </div>
    <div class="col-md-3" style="height:150px; width:150px; margin:10px; margin-left:50px">
        <a href="@Url.Content("~/home/editpatient")" class="btn btn-primary">
            <i class="fa fa-dashboard fa-3x"></i> <br /> <span>EDIT PATIENT RECORD</span>
        </a>
    </div>
    <div class="col-md-3" style="height:150px; width:150px; margin:10px; margin-left:50px">
        <a href="@Url.Content("~/home/dispensary")" class="btn btn-primary">
            <i class="fa fa-dashboard fa-3x"></i> <br /> <span>DRUG DISPENSARY</span>
        </a>
    </div>
</div>
<br />
<hr />