@model IEnumerable<HPMS.Models.Drug>

@{
    ViewBag.Title = "restockalert";
}


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                @*<div class="box-header">

                    </div>*@

                <div class="box-body">
                    <h2>restockalert</h2>

                    <p>
                        @Html.ActionLink("Create New", "Create")
                    </p>


                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Name
                                </th>
                                <th scope="col">
                                    Quantity
                                </th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td scope="row">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                   
                                    <td scope="row">
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                </tr>
                            }

                        </tbody>

                    </table>





                    @*<table>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rack)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rack)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.DrugID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.DrugID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.DrugID })
                                </td>
                            </tr>
                        }

                    </table>*@
                </div>
            </div>
        </div>
    </div>
</section>